doctype html
html
    head
        meta(charset="utf-8")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
        script(type="text/javascript" src="/js/scripts.js")
        title Nitro Data
    body

        section.header-wrapper
            div.header-display
                div.header-brand
                    a(href="/") Nitro Solutions
                div.header-links
                    li: a(href="/users") Users
                    li: a(href="/customers/1") Customers
                    li: a(href="/items/1") Items
        div.clear-fix
