include ../partials/header

section.data-wrapper
    div.data-display
        div.table-wrapper
            table
                tr
                    th Name
                    th Email
                    th Address
                    th Website
                - for (var i = 0; i < 10; i++) {
                    tr
                        td #{data[i].name}
                        td #{data[i].email}
                        td #{data[i].address.street}
                        td #{data[i].website}
                - }




include ../partials/footer
